.about {
  position: relative;
  margin: 120px 0;

  &__background_wrapper,
  &__background_wrapper-2 {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 0;
    & > * {
      max-width: 60%;
      max-height: 70%;
      border-radius: 60px;
      object-fit: cover;

      position: absolute;
      top: auto;
    }
  }
  &__background_wrapper-2 {
    & > * {
      &:nth-child(1) {
        left: 50%;
        transform: translateX(-50%);
        aspect-ratio: 1.78;
      }
      &:nth-child(2) {
        left: 20%;
        aspect-ratio: 1.2;
      }
      &:nth-child(3) {
        right: 30%;
        aspect-ratio: 1.45;
      }
    }
  }

  &__background_wrapper-2 {
    & > * {
      max-width: 60px;
      max-height: 60px;
      border-radius: 0;
      aspect-ratio: 1;
      left: 0;
      &:nth-child(1), &:nth-child(2),  &:nth-child(3) {
        aspect-ratio: 1;
        transform: none;
        left: auto;
        right: auto;
      }
    }
  }

  &__text {
    font-size: 64px;
    line-height: 1.15em;
    font-weight: 200;
    text-align: center;
    z-index: 5;
    padding: 0 10%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;

    &_wrapper {
      height: 200vh;
    }
  }

  &__text-2 {
    // margin-top: 50vh;
  }
}

@media screen and (max-width: $tabletBreakpoint) {
  .about {
    margin: 64px 0;

    &__text {
      font-size: clamp(24px, 6vw, 32px);
      padding: 0 20px;
      text-align: center;
      & > div {
        & > div {
          display: inline;
          & > span {
            display: inline;
            .word-wrapper {
              overflow: hidden;
              span {
                display: inline-block;
              }
            }
          }
        }
      }
    }

    &__background_wrapper {
        & > * {
          max-width: 70%;
          max-height: 50%;
          border-radius: 30px;
        }
    }
  }
}
