.about {
  position: relative;
  margin: 120px 0;

  &__background_wrapper {
    position: absolute;
    bottom: 0%;
    left: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    & div {
      max-height: 80%;
      height: 900px;
      max-width: 70%;
      display: flex;
      flex-wrap: wrap;
      align-items: start;
      justify-content: space-between;
      align-content: space-between;
      & > * {
        max-width: 45%;
        max-height: 40%;
        border-radius: 60px;
      }
    }
  }

  &__text {
    font-size: 64px;
    line-height: 1.15em;
    font-weight: 200;
    z-index: 5;
    padding: 0 10%;
    // &:not(.about__text-2) {
    //     margin-top: -100vh;
    // }
  }

  &__text-2 {
    margin-top: 50vh;
  }
}

@media screen and (max-width: $tabletBreakpoint) {
  .about {
    margin: 64px 0;

    &__text {
      font-size: clamp(24px, 6vw, 32px);
      padding: 0 20px;
      text-align: center;
      & > div {
        display: inline;
        & > span {
          display: inline;
          .word-wrapper {
            overflow: hidden;
            span {
              display: inline-block;
            }
          }
        }
      }
    }

    &__background_wrapper {
      height: 40vh;
      bottom: 50%;
      transform: translateY(50%);
      & div {
        height: 300px;
        max-width: 90%;
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        & > * {
          max-width: 48%;
          max-height: 50%;
          border-radius: 30px;
        }
      }
    }
  }
}
