.are {
  padding-top: 150px;
  overflow: hidden;
  &__title {

    &::after {
      right: 0;
      left: auto;
      transform: translate(50%, -50%);
    }
  }
  &__text {
    font-size: 60px;
    margin: 40px 40px 0 20%;
    line-height: 1.2em;

    position: relative;
    z-index: 2;
  }
}
@media screen and (max-width: 800px) {
  .are {
    &__text {
      font-size: 24px;
    }
  }
}