.contact {
  padding-bottom: 60px;
  .title {
    position: relative;
    z-index: 5;
    padding-bottom: 64px;
  }

  a {
    position: relative;
    &:hover::before {
      width: 100%;
    }
    &:before {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 0;
      height: 2px;
      transition: .3s ease-in-out;
      background-color: #000;
    }
  }

  &_wrapper {
    padding: 0 60px;
    &-sticky {
      position: relative;
      bottom: 0;
      left: 0;
      overflow: hidden;
      background: $accentColor;
      border-radius: 60px;

      display: flex;
      justify-content: center;
      align-items: stretch;
      > div {
        width: 50%;
        position: relative;
        padding: 0 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        > div {
          max-width: 700px;
          width: fit-content;
          margin: auto;
          &:last-child {
            width: 100%;
          }
        }
      }
    }
  }

  &__text {
    color: #000;
    font-size: clamp(32px, 4vw, 64px);
    line-height: 1.2em;
    font-weight: 500;
    display: flex;
    padding: 0 20px;

    justify-content: start;
    align-items: end;
    flex-wrap: wrap;
    & > div {
      overflow: hidden;
      & > span {
        display: block;
      }
    }
    & > div:last-child {
      width: 100%;
      text-align: right;
    }

    &__bubble {
      position: relative;
      flex-grow: 1;
      margin-left: 16px;
      transform-origin: bottom left;
      max-width: 160px;
      img {
        height: auto;
        object-fit: contain;
      }
      &_text {
        position: absolute;
        top: 22%;
        font-size: clamp(10px, 1vw, 16px);
        line-height: 1.2em;
        text-align: center;
        left: 50%;
        transform: translate(-50%, 0);
        div {
          overflow: hidden;
        }
        span {
          display: block;
        }
      }
    }
  }

  &__info {
    position: relative;
    img {
      width: 100%;
      object-fit: contain;
      margin-top: 10%;
      transform-origin: bottom right;
    }
    &__text {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 90%;
      text-align: center;
      font-size: clamp(16px, 2.3vw, 42px);
      color: #000;
      line-height: 1.2em;
      transform: translate(-50%, -70%);
      div {
        overflow: hidden;
      }
      a {
        display: inline-block;
      }

      > div:first-child {
        margin-bottom: 32px;
      }
    }
    &__social {
      position: absolute;
      bottom: 28%;
      left: 50%;
      width: 85%;
      transform: translateX(-50%);

      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      font-size: 20px;
      line-height: 1.2em;

      div {
        margin: 0 5px;
        color: #000;
        overflow: hidden;
        a {
          display: block;
        }
      }
    }
  }

  &__footer {
    font-size: 16px;
    color: #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 20px;
    div {
      margin: 0 20px;
    }
    &_right {
      right: 5%;
    }
    &_left {
      left: 5%;
    }
  }
}

@media screen and (max-width: $tabletBreakpoint) {
  .contact {
    &_wrapper {
      height: auto !important; //TEMPORARY
      padding: 0;
      &-sticky {
        padding: 64px 0;
        flex-direction: column;
        border-radius: 30px;
        height: auto !important; //TEMPORARY
        & > div {
          height: auto !important; //TEMPORARY
          width: 100%;
          position: static;
          padding: 0;
          &:first-child {
            margin-bottom: 64px;
          }
          & > div {
            padding: 0 20px;
          }
        }
      }
    }

    &__text {
      font-size: clamp(32px, 10vw, 64px);
      padding: 0 0;

      &__bubble {
        &_text {
          font-size: clamp(10px, 3vw, 16px);
        }
      }
    }

    &__info {
      img {
        margin-top: 0;
      }
      &__text {
        font-size: clamp(16px, 5.7vw, 32px);
        transform: translate(-50%, -110%);
        & > div:first-child {
          margin-bottom: 16px;
        }
      }

      &__social {
        font-size: 12px;
        bottom: 33%;
      }
    }

    &__footer {
      right: 5%;
      width: 90%;
      &_right {
        bottom: 50px;
        font-size: 14px;
        justify-content: space-between;
        div {
          margin: 0;
        }
      }
      &_left {
        font-size: clamp(9px, 2.9vw, 14px);
        justify-content: center;
        div {
          margin: 0;
        }
      }
    }
  }
}
