.hero {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  &__video {
    &_wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -45%) scale(0.6, 0.1);
      opacity: 0;
      transform-origin: bottom left;
      max-width: 100%;
      aspect-ratio: 1.126;
      max-height: 80%;
      transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
      object-fit: cover;
      background-color: $backgroundColor;
      display: flex;
      justify-content: center;
      align-items: center;
      &.active {
        transform: translate(-50%, -40%) scale(1);
        opacity: 1;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 7;
      }
    }

    object-fit: cover;
    display: block;
    margin: auto;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
  }

  &__title {
    position: relative;
    z-index: 4;
    font-size: clamp(120px, 10vw, 200px);
    font-weight: 500;
    width: 100%;

    &_wrapper {
      width: 85%;
      max-width: 1400px;
    }

    div {
      display: block;
      text-align: right;
      &:nth-child(2) {
        text-align: left;
      }
      &:last-child {
        padding-right: 5%;
      }
    }
  }

  &__dots {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 8;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__dot {
    width: 16px;
    height: 16px;
    margin: 0 8px;
    border-radius: 50%;
    background-color: $accentColor;
    @for $i from 1 to 4 {
      &:nth-child(#{$i}) {
        animation: dotJump 1s ease-in-out -1.9s * $i infinite alternate;
      }
    }
  }
}
@keyframes dotJump {
  0% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

@media screen and (max-width: $tabletBreakpoint) {
  .hero {
    &__title {
      font-size: clamp(32px, 13vw, 120px);
      div {
        text-align: center !important;
        &:last-child {
          padding-right: 0;
        }
      }
      &_wrapper {
        width: 85%;
      }
    }

    &__video {
      &_wrapper {
        width: 90%;
      }
    }

    &__dots {
      bottom: 20px;
    }
  }
}
