.hero {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 2;

  font-size: 10vw;
  text-transform: uppercase;
  font-weight: bold;

  letter-spacing: 0.05em;

  opacity: 0;

  div:last-child {
    padding-left: 14vw;
    span:last-child {
      color: #8bb4c6;
    }
  }

  span {
    position: relative;

    bottom: -80px;
    opacity: 0;
  }
}
