.intro {
    padding: 0 60px;
    margin: 60px 0;
    &__text {
       font-size: clamp(80px, 10vw, 200px); 
       line-height: 1em;
       font-weight: 500;
    }
}

@media screen and (max-width: $tabletBreakpoint) {
    .intro {
        padding: 0 20px;
        margin: 32px 0;
        &__text {
           font-size: clamp(32px, 11vw, 64px); 
        }
    }
}