.we {
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    font-size: 50vw;

    display: flex;
    justify-content: center;
    align-items: center;
    
    &__wrap {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }
    
    color: #000;
    &__text {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;


        mix-blend-mode: screen;
        
        font-weight: bold;
        text-transform: uppercase;
        background-color: #fff;
        background-position: center;
        background-repeat: no-repeat;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
          1px 1px 0 #000;
          z-index: 1;
          div {
              padding-left: 2%;
          }
      }
  
  video {
      z-index: 0;
      display: block;
      width: 97%;
      height: 100%;
      padding: 5px;
      object-fit: cover;

  }
  
    width: 100%;
    text-align: center;
  
    &__section {
      position: relative;
      overflow: hidden;
    }
  }

.text {
    width: 50%;

    margin-left: auto;
    margin-right: 0;
    padding-right: 20px;

    position: relative;

    z-index: 2;

    &__sticky {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);

        font-size: 60px;
        line-height: 60px;

        display: flex;
        align-items: center;
    }
    &__overflow {
        overflow: hidden;
        opacity: 0;

        width: 95%;

        position: relative;
    }
    &__item {
        transform: translateY(103%);
        transition: transform .3s ease-in-out;
        position: absolute;
        top: 0;left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        div {
            width: 100%;
        }
        &:first-child {
            position: relative;
        }
    }
}
.triggers {
    div {
        height: 50vh;

    }
}
.on {
    transform: translateY(0);
}
.up {
    transform: translateY(-103%);
}

@media screen and (max-width: 800px) {
    .text {
        &__item {
            font-size: 32px;
        }
    }
}