.we {
    font-size: 50vw;
    font-weight: bold;
    text-transform: uppercase;
  
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
  
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  
    z-index: 1;
  
  
    width: 100%;
    text-align: center;
  
    &__section {
      position: relative;
      overflow: hidden;
    }
  }

.text {
    width: 50%;

    margin-left: auto;
    margin-right: 0;
    padding-right: 20px;

    position: relative;

    z-index: 2;

    &__sticky {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);

        font-size: 60px;
        line-height: 60px;

        display: flex;
        align-items: center;
    }
    &__overflow {
        overflow: hidden;
        opacity: 0;

        width: 95%;

        position: relative;
    }
    &__item {
        transform: translateY(103%);
        transition: transform .3s ease-in-out;
        position: absolute;
        top: 0;left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        div {
            width: 100%;
        }
        &:first-child {
            position: relative;
        }
    }
}
.triggers {
    div {
        height: 50vh;

    }
}
.on {
    transform: translateY(0);
}
.up {
    transform: translateY(-103%);
}

@media screen and (max-width: 800px) {
    .text {
        &__item {
            font-size: 32px;
        }
    }
}