$nav-item-delay: 1s;
$transition: 0.3s ease-in-out;
$ease-in-out-cubic: cubic-bezier(0.4, 0, 0.2, 1);
$cubic-transition: $nav-item-delay $ease-in-out-cubic;
$backgroundColor: #1e1e1e;
$accentColor: #00c0f0;
@import url("../../Montserrat/stylesheet.css");


body {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(80px, 10vw, 200px) / 1;
  font-weight: 400;
  line-height: 1;
  width: 100%;
  color: #fff;
  letter-spacing: normal;
  background-color: $backgroundColor;
  margin: 0;
  padding: 0;
}
.title {
  font-size: clamp(80px, 10vw, 200px);
  line-height: 1em;
  font-weight: 500;
  text-align: right;
  max-width: 1000px;
  padding: 0 20px;
  margin: auto;
}
.svg {
  // display: none;
  width: 0;
  height: 0;
}
.no-transition {
  transition: none !important;
  * {
    transition: none !important;
  }
}

.rise-by-line-animation {
  div {
    overflow: hidden;
    span {
      display: inline-block;
    }
  }
  &.animation-by-class {
    div span {
      transform: translateY(130%) rotate(5deg);
      transition: transform 0.7s ease-in-out;
    }
    &.active {
      @for $i from 1 to 4 {
        div:nth-child(#{$i}) span {
          transition: transform 0.7s ease-in-out 0.2s * $i;
        }
      }
      span {
        transform: translateY(0%) rotate(0deg);
      }
    }
  }
}

@import url("reset.css");
@import "nav";
@import "_hero";
@import "_intro";
@import "_about";
@import "_blog";
