$backgroundColor: #1E1E1E;
$accentColor: #00c0f0;
@import url("../../MOsteratt/stylesheet.css");
// @import url("../font/stylesheet.css");

body {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(80px, 10vw, 200px)/1;
  font-weight: 400;
  line-height: 1;
  width: 100%;
  color: #fff;
  letter-spacing: normal;
  background-color: $backgroundColor;
  margin: 0;
  padding: 0;


}



@import url("reset.css");
@import "nav";
